# COVID-19 Web Scrape

In [1]:
# Import Dependencies
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import os
import pandas as pd
import time

In [2]:
# Create an executable path that works for both types of os
if os.name=="nt":
    executable_path = {'executable_path': './chromedriver.exe'}
else:
    executable_path = {"executable_path": "/usr/local/bin/chromedriver"}

In [3]:
#
covid_url = 'https://www.worldometers.info/coronavirus/country/us/'
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(covid_url)
time.sleep(5)

In [4]:
# Create a Beautiful Soup object; parse with 'html.parser'; double check that it's bs4
news_html = browser.html
news_soup = bs(news_html, 'html.parser')
type(news_soup)

bs4.BeautifulSoup

In [5]:
# Parse through the elements to collect the cases data for the US; create an array to loop through the web scraped data and append it
covid_news = news_soup.find('tbody').find_all('td', class_='sorting_1')
# print(covid_news)
cases = []
for news in covid_news:
    cases.append(int(news.text.replace(',', '')))
    print(int(news.text.replace(',', '')))

3479483
428303
336037
282435
274712
181366
155931
123824
120569
111827
100378
87729
79827
77198
73527
71642
66891
65274
58168
55545
52037
47510
42772
42741
37242
36942
36680
35607
30049
30030
28939
28515
21399
20745
20241
19653
17487
15291
12879
12438
11402
10906
7524
6068
4442
4313
3558
1904
1843
1539
1301
1243

In [6]:
# Parse through the elements to collect the states data for the US (that way, the number will match with the found number of cases); create an array to loop through the web scraped data and append it
covid_cases = news_soup.find('tbody').find_all('a', class_="mt_a")
states = []
print(covid_cases)
for num in covid_cases:
    states.append(num.text)
    print(num.text)

[<a class="mt_a" href="/coronavirus/usa/new-york/">New York</a>, <a class="mt_a" href="/coronavirus/usa/california/">California</a>, <a class="mt_a" href="/coronavirus/usa/florida/">Florida</a>, <a class="mt_a" href="/coronavirus/usa/texas/">Texas</a>, <a class="mt_a" href="/coronavirus/usa/new-jersey/">New Jersey</a>, <a class="mt_a" href="/coronavirus/usa/illinois/">Illinois</a>, <a class="mt_a" href="/coronavirus/usa/arizona/">Arizona</a>, <a class="mt_a" href="/coronavirus/usa/georgia/">Georgia</a>, <a class="mt_a" href="/coronavirus/usa/massachusetts/">Massachusetts</a>, <a class="mt_a" href="/coronavirus/usa/pennsylvania/">Pennsylvania</a>, <a class="mt_a" href="/coronavirus/usa/north-carolina/">North Carolina</a>, <a class="mt_a" href="/coronavirus/usa/louisiana/">Louisiana</a>, <a class="mt_a" href="/coronavirus/usa/michigan/">Michigan</a>, <a class="mt_a" href="/coronavirus/usa/maryland/">Maryland</a>, <a class="mt_a" href="/coronavirus/usa/virginia/">Virginia</a>, <a class="mt_a" href="/coronavirus/usa/ohio/">Ohio</a>, <a class="mt_a" href="/coronavirus/usa/tennessee/">Tennessee</a>, <a class="mt_a" href="/coronavirus/usa/south-carolina/">South Carolina</a>, <a class="mt_a" href="/coronavirus/usa/alabama/">Alabama</a>, <a class="mt_a" href="/coronavirus/usa/indiana/">Indiana</a>, <a class="mt_a" href="/coronavirus/usa/connecticut/">Connecticut</a>, <a class="mt_a" href="/coronavirus/usa/minnesota/">Minnesota</a>, <a class="mt_a" href="/coronavirus/usa/washington/">Washington</a>, <a class="mt_a" href="/coronavirus/usa/colorado/">Colorado</a>, <a class="mt_a" href="/coronavirus/usa/wisconsin/">Wisconsin</a>, <a class="mt_a" href="/coronavirus/usa/mississippi/">Mississippi</a>, <a class="mt_a" href="/coronavirus/usa/iowa/">Iowa</a>, <a class="mt_a" href="/coronavirus/usa/missouri/">Missouri</a>, <a class="mt_a" href="/coronavirus/usa/utah/">Utah</a>, <a class="mt_a" href="/coronavirus/usa/arkansas/">Arkansas</a>, <a class="mt_a" href="/coronavirus/usa/nevada/">Nevada</a>, <a class="mt_a" href="/coronavirus/usa/nebraska/">Nebraska</a>, <a class="mt_a" href="/coronavirus/usa/oklahoma/">Oklahoma</a>, <a class="mt_a" href="/coronavirus/usa/kansas/">Kansas</a>, <a class="mt_a" href="/coronavirus/usa/kentucky/">Kentucky</a>, <a class="mt_a" href="/coronavirus/usa/rhode-island/">Rhode Island</a>, <a class="mt_a" href="/coronavirus/usa/new-mexico/">New Mexico</a>, <a class="mt_a" href="/coronavirus/usa/delaware/">Delaware</a>, <a class="mt_a" href="/coronavirus/usa/oregon/">Oregon</a>, <a class="mt_a" href="/coronavirus/usa/idaho/">Idaho</a>, <a class="mt_a" href="/coronavirus/usa/district-of-columbia/">District Of Columbia</a>, <a class="mt_a" href="/coronavirus/usa/south-dakota/">South Dakota</a>, <a class="mt_a" href="/coronavirus/usa/new-hampshire/">New Hampshire</a>, <a class="mt_a" href="/coronavirus/usa/north-dakota/">North Dakota</a>, <a class="mt_a" href="/coronavirus/usa/west-virginia/">West Virginia</a>, <a class="mt_a" href="/coronavirus/usa/maine/">Maine</a>, <a class="mt_a" href="/coronavirus/usa/wyoming/">Wyoming</a>, <a class="mt_a" href="/coronavirus/usa/montana/">Montana</a>, <a class="mt_a" href="/coronavirus/usa/alaska/">Alaska</a>, <a class="mt_a" href="/coronavirus/usa/vermont/">Vermont</a>, <a class="mt_a" href="/coronavirus/usa/hawaii/">Hawaii</a>]
New York
California
Florida
Texas
New Jersey
Illinois
Arizona
Georgia
Massachusetts
Pennsylvania
North Carolina
Louisiana
Michigan
Maryland
Virginia
Ohio
Tennessee
South Carolina
Alabama
Indiana
Connecticut
Minnesota
Washington
Colorado
Wisconsin
Mississippi
Iowa
Missouri
Utah
Arkansas
Nevada
Nebraska
Oklahoma
Kansas
Kentucky
Rhode Island
New Mexico
Delaware
Oregon
Idaho
District Of Columbia
South Dakota
New Hampshire
North Dakota
West Virginia
Maine
Wyoming
Montana
Alaska
Vermont
Hawaii

In [7]:
# Parse through the elements to collect the states data for the US (that way, the number will match with the found number of cases); create an array to loop through the web scraped data and append it
covid_deaths = news_soup.find('tbody').find_all('td')
unfiltered_data = []
# print(covid_deaths)
for num in covid_deaths:
    unfiltered_data.append(num.text)
#     print(num.text)

In [8]:
# Testing the first death case to get the initial counter
int(unfiltered_data[15].strip('\n').strip(' ').replace(',', ''))

32445

In [9]:
# Testing the second death case to get the gap between each counter
unfiltered_data[27].strip('\n').strip(' ').replace(',', '')

'7096'

In [10]:
# Create a counter and loop through the web scraped data
counter = 15

# Create a new list to hold the death cases
deaths = []
while counter > 0:
    deaths.append(int(unfiltered_data[counter].strip('\n').strip(' ').replace(',', '')))
#     print(deaths2[a])
    counter += 12
    if len(deaths) == len(states):
        break

In [11]:
# Print the deaths list
deaths

[32445,
 7096,
 4277,
 3340,
 15639,
 7394,
 2245,
 3026,
 8330,
 6963,
 1551,
 3428,
 6321,
 3325,
 1968,
 3069,
 749,
 972,
 1124,
 2762,
 4371,
 1542,
 1438,
 1727,
 821,
 1250,
 755,
 1133,
 216,
 323,
 593,
 288,
 424,
 297,
 629,
 984,
 548,
 517,
 237,
 102,
 568,
 109,
 391,
 87,
 97,
 114,
 21,
 32,
 17,
 56,
 22]

In [12]:
# Testing the first death case to get the initial counter
unfiltered_data[17].strip('\n').strip(' ').replace(',', '')

'209034'

In [15]:
# Testing the second death case to get the gap between each counter
unfiltered_data[29].strip('\n').strip(' ').replace(',', '')

'239829'

In [22]:
# Create a counter and loop through the web scraped data
counter2 = 17

# Create a new list to hold the death cases
actives = []
while counter2 > 0:
    actives.append(int(unfiltered_data[counter2].strip('\n').strip(' ').replace(',', '')))
#     print(type(int(unfiltered_data[counter2].strip('\n').strip(' ').replace(',', ''))))
    counter2 += 12
    if len(actives) == len(states):
        break

In [23]:
# Check the length of the states list
len(states)

51

In [24]:
# Check the length of the cases list
len(cases)

52

In [25]:
# Check the length of the deaths list
len(deaths)

51

In [26]:
# Check the length of the actives list
len(actives)

51

In [27]:
# Erased the first index of the cases list because it's the total cases in the US
cases.pop(0)

3479483

In [28]:
# Print the cases list
cases

[428303,
 336037,
 282435,
 274712,
 181366,
 155931,
 123824,
 120569,
 111827,
 100378,
 87729,
 79827,
 77198,
 73527,
 71642,
 66891,
 65274,
 58168,
 55545,
 52037,
 47510,
 42772,
 42741,
 37242,
 36942,
 36680,
 35607,
 30049,
 30030,
 28939,
 28515,
 21399,
 20745,
 20241,
 19653,
 17487,
 15291,
 12879,
 12438,
 11402,
 10906,
 7524,
 6068,
 4442,
 4313,
 3558,
 1904,
 1843,
 1539,
 1301,
 1243]

In [29]:
# Print the states list
states

['New York',
 'California',
 'Florida',
 'Texas',
 'New Jersey',
 'Illinois',
 'Arizona',
 'Georgia',
 'Massachusetts',
 'Pennsylvania',
 'North Carolina',
 'Louisiana',
 'Michigan',
 'Maryland',
 'Virginia',
 'Ohio',
 'Tennessee',
 'South Carolina',
 'Alabama',
 'Indiana',
 'Connecticut',
 'Minnesota',
 'Washington',
 'Colorado',
 'Wisconsin',
 'Mississippi',
 'Iowa',
 'Missouri',
 'Utah',
 'Arkansas',
 'Nevada',
 'Nebraska',
 'Oklahoma',
 'Kansas',
 'Kentucky',
 'Rhode Island',
 'New Mexico',
 'Delaware',
 'Oregon',
 'Idaho',
 'District Of Columbia',
 'South Dakota',
 'New Hampshire',
 'North Dakota',
 'West Virginia',
 'Maine',
 'Wyoming',
 'Montana',
 'Alaska',
 'Vermont',
 'Hawaii']

In [31]:
# Create a recovered list to get the numbers from the cases, deaths and actives list
recovered = []
counter3 = 0
while counter3 < len(cases):
    recovered.append(cases[counter3] - deaths[counter3] - actives[counter3])
    counter3 += 1

In [32]:
# Print the recovered list
recovered

[186824,
 89112,
 33290,
 136419,
 81685,
 115839,
 15254,
 19185,
 94347,
 73721,
 55318,
 46334,
 52841,
 5230,
 9330,
 45194,
 36996,
 20956,
 25783,
 38914,
 16885,
 37199,
 13664,
 12571,
 28670,
 25932,
 26726,
 6270,
 17728,
 22106,
 18908,
 16025,
 15815,
 11304,
 5344,
 1691,
 6363,
 7139,
 3094,
 3262,
 1756,
 6543,
 5056,
 3653,
 2883,
 3008,
 1412,
 875,
 620,
 1096,
 911]

In [76]:
# Create JSON format
covid_data = {}
for i in range(len(states)):
    print(states[i])
    covid_data[i] = {
        "states": states[i],
        "cases": cases[i],
        "deaths": deaths[i],
        "actives": actives[i],
        "recovered": recovered[i]
    }

New York
California
Florida
Texas
New Jersey
Illinois
Arizona
Georgia
Massachusetts
Pennsylvania
North Carolina
Louisiana
Michigan
Maryland
Virginia
Ohio
Tennessee
South Carolina
Alabama
Indiana
Connecticut
Minnesota
Washington
Colorado
Wisconsin
Mississippi
Iowa
Missouri
Utah
Arkansas
Nevada
Nebraska
Oklahoma
Kansas
Kentucky
Rhode Island
New Mexico
Delaware
Oregon
Idaho
District Of Columbia
South Dakota
New Hampshire
North Dakota
West Virginia
Maine
Wyoming
Montana
Alaska
Vermont
Hawaii

In [77]:
# Check the data
covid_data

{0: {'states': 'New York',
  'cases': 428303,
  'deaths': 32445,
  'actives': 209034,
  'recovered': 186824},
 1: {'states': 'California',
  'cases': 336037,
  'deaths': 7096,
  'actives': 239829,
  'recovered': 89112},
 2: {'states': 'Florida',
  'cases': 282435,
  'deaths': 4277,
  'actives': 244868,
  'recovered': 33290},
 3: {'states': 'Texas',
  'cases': 274712,
  'deaths': 3340,
  'actives': 134953,
  'recovered': 136419},
 4: {'states': 'New Jersey',
  'cases': 181366,
  'deaths': 15639,
  'actives': 84042,
  'recovered': 81685},
 5: {'states': 'Illinois',
  'cases': 155931,
  'deaths': 7394,
  'actives': 32698,
  'recovered': 115839},
 6: {'states': 'Arizona',
  'cases': 123824,
  'deaths': 2245,
  'actives': 106325,
  'recovered': 15254},
 7: {'states': 'Georgia',
  'cases': 120569,
  'deaths': 3026,
  'actives': 98358,
  'recovered': 19185},
 8: {'states': 'Massachusetts',
  'cases': 111827,
  'deaths': 8330,
  'actives': 9150,
  'recovered': 94347},
 9: {'states': 'Pennsylvania',
  'cases': 100378,
  'deaths': 6963,
  'actives': 19694,
  'recovered': 73721},
 10: {'states': 'North Carolina',
  'cases': 87729,
  'deaths': 1551,
  'actives': 30860,
  'recovered': 55318},
 11: {'states': 'Louisiana',
  'cases': 79827,
  'deaths': 3428,
  'actives': 30065,
  'recovered': 46334},
 12: {'states': 'Michigan',
  'cases': 77198,
  'deaths': 6321,
  'actives': 18036,
  'recovered': 52841},
 13: {'states': 'Maryland',
  'cases': 73527,
  'deaths': 3325,
  'actives': 64972,
  'recovered': 5230},
 14: {'states': 'Virginia',
  'cases': 71642,
  'deaths': 1968,
  'actives': 60344,
  'recovered': 9330},
 15: {'states': 'Ohio',
  'cases': 66891,
  'deaths': 3069,
  'actives': 18628,
  'recovered': 45194},
 16: {'states': 'Tennessee',
  'cases': 65274,
  'deaths': 749,
  'actives': 27529,
  'recovered': 36996},
 17: {'states': 'South Carolina',
  'cases': 58168,
  'deaths': 972,
  'actives': 36240,
  'recovered': 20956},
 18: {'states': 'Alabama',
  'cases': 55545,
  'deaths': 1124,
  'actives': 28638,
  'recovered': 25783},
 19: {'states': 'Indiana',
  'cases': 52037,
  'deaths': 2762,
  'actives': 10361,
  'recovered': 38914},
 20: {'states': 'Connecticut',
  'cases': 47510,
  'deaths': 4371,
  'actives': 26254,
  'recovered': 16885},
 21: {'states': 'Minnesota',
  'cases': 42772,
  'deaths': 1542,
  'actives': 4031,
  'recovered': 37199},
 22: {'states': 'Washington',
  'cases': 42741,
  'deaths': 1438,
  'actives': 27639,
  'recovered': 13664},
 23: {'states': 'Colorado',
  'cases': 37242,
  'deaths': 1727,
  'actives': 22944,
  'recovered': 12571},
 24: {'states': 'Wisconsin',
  'cases': 36942,
  'deaths': 821,
  'actives': 7451,
  'recovered': 28670},
 25: {'states': 'Mississippi',
  'cases': 36680,
  'deaths': 1250,
  'actives': 9498,
  'recovered': 25932},
 26: {'states': 'Iowa',
  'cases': 35607,
  'deaths': 755,
  'actives': 8126,
  'recovered': 26726},
 27: {'states': 'Missouri',
  'cases': 30049,
  'deaths': 1133,
  'actives': 22646,
  'recovered': 6270},
 28: {'states': 'Utah',
  'cases': 30030,
  'deaths': 216,
  'actives': 12086,
  'recovered': 17728},
 29: {'states': 'Arkansas',
  'cases': 28939,
  'deaths': 323,
  'actives': 6510,
  'recovered': 22106},
 30: {'states': 'Nevada',
  'cases': 28515,
  'deaths': 593,
  'actives': 9014,
  'recovered': 18908},
 31: {'states': 'Nebraska',
  'cases': 21399,
  'deaths': 288,
  'actives': 5086,
  'recovered': 16025},
 32: {'states': 'Oklahoma',
  'cases': 20745,
  'deaths': 424,
  'actives': 4506,
  'recovered': 15815},
 33: {'states': 'Kansas',
  'cases': 20241,
  'deaths': 297,
  'actives': 8640,
  'recovered': 11304},
 34: {'states': 'Kentucky',
  'cases': 19653,
  'deaths': 629,
  'actives': 13680,
  'recovered': 5344},
 35: {'states': 'Rhode Island',
  'cases': 17487,
  'deaths': 984,
  'actives': 14812,
  'recovered': 1691},
 36: {'states': 'New Mexico',
  'cases': 15291,
  'deaths': 548,
  'actives': 8380,
  'recovered': 6363},
 37: {'states': 'Delaware',
  'cases': 12879,
  'deaths': 517,
  'actives': 5223,
  'recovered': 7139},
 38: {'states': 'Oregon',
  'cases': 12438,
  'deaths': 237,
  'actives': 9107,
  'recovered': 3094},
 39: {'states': 'Idaho',
  'cases': 11402,
  'deaths': 102,
  'actives': 8038,
  'recovered': 3262},
 40: {'states': 'District Of Columbia',
  'cases': 10906,
  'deaths': 568,
  'actives': 8582,
  'recovered': 1756},
 41: {'states': 'South Dakota',
  'cases': 7524,
  'deaths': 109,
  'actives': 872,
  'recovered': 6543},
 42: {'states': 'New Hampshire',
  'cases': 6068,
  'deaths': 391,
  'actives': 621,
  'recovered': 5056},
 43: {'states': 'North Dakota',
  'cases': 4442,
  'deaths': 87,
  'actives': 702,
  'recovered': 3653},
 44: {'states': 'West Virginia',
  'cases': 4313,
  'deaths': 97,
  'actives': 1333,
  'recovered': 2883},
 45: {'states': 'Maine',
  'cases': 3558,
  'deaths': 114,
  'actives': 436,
  'recovered': 3008},
 46: {'states': 'Wyoming',
  'cases': 1904,
  'deaths': 21,
  'actives': 471,
  'recovered': 1412},
 47: {'states': 'Montana',
  'cases': 1843,
  'deaths': 32,
  'actives': 936,
  'recovered': 875},
 48: {'states': 'Alaska',
  'cases': 1539,
  'deaths': 17,
  'actives': 902,
  'recovered': 620},
 49: {'states': 'Vermont',
  'cases': 1301,
  'deaths': 56,
  'actives': 149,
  'recovered': 1096},
 50: {'states': 'Hawaii',
  'cases': 1243,
  'deaths': 22,
  'actives': 310,
  'recovered': 911}}

In [80]:
covid_data[1]

{'states': 'California',
 'cases': 336037,
 'deaths': 7096,
 'actives': 239829,
 'recovered': 89112}

In [69]:
covid_data = {}
covid_data["states"] = states
covid_data["cases"] = cases
covid_data["deaths"] = deaths
covid_data["actives"] = actives
covid_data["recovered"] = recovered
covid_data

{'states': ['New York',
  'California',
  'Florida',
  'Texas',
  'New Jersey',
  'Illinois',
  'Arizona',
  'Georgia',
  'Massachusetts',
  'Pennsylvania',
  'North Carolina',
  'Louisiana',
  'Michigan',
  'Maryland',
  'Virginia',
  'Ohio',
  'Tennessee',
  'South Carolina',
  'Alabama',
  'Indiana',
  'Connecticut',
  'Minnesota',
  'Washington',
  'Colorado',
  'Wisconsin',
  'Mississippi',
  'Iowa',
  'Missouri',
  'Utah',
  'Arkansas',
  'Nevada',
  'Nebraska',
  'Oklahoma',
  'Kansas',
  'Kentucky',
  'Rhode Island',
  'New Mexico',
  'Delaware',
  'Oregon',
  'Idaho',
  'District Of Columbia',
  'South Dakota',
  'New Hampshire',
  'North Dakota',
  'West Virginia',
  'Maine',
  'Wyoming',
  'Montana',
  'Alaska',
  'Vermont',
  'Hawaii'],
 'cases': [428303,
  336037,
  282435,
  274712,
  181366,
  155931,
  123824,
  120569,
  111827,
  100378,
  87729,
  79827,
  77198,
  73527,
  71642,
  66891,
  65274,
  58168,
  55545,
  52037,
  47510,
  42772,
  42741,
  37242,
  36942,
  36680,
  35607,
  30049,
  30030,
  28939,
  28515,
  21399,
  20745,
  20241,
  19653,
  17487,
  15291,
  12879,
  12438,
  11402,
  10906,
  7524,
  6068,
  4442,
  4313,
  3558,
  1904,
  1843,
  1539,
  1301,
  1243],
 'deaths': [32445,
  7096,
  4277,
  3340,
  15639,
  7394,
  2245,
  3026,
  8330,
  6963,
  1551,
  3428,
  6321,
  3325,
  1968,
  3069,
  749,
  972,
  1124,
  2762,
  4371,
  1542,
  1438,
  1727,
  821,
  1250,
  755,
  1133,
  216,
  323,
  593,
  288,
  424,
  297,
  629,
  984,
  548,
  517,
  237,
  102,
  568,
  109,
  391,
  87,
  97,
  114,
  21,
  32,
  17,
  56,
  22],
 'actives': [209034,
  239829,
  244868,
  134953,
  84042,
  32698,
  106325,
  98358,
  9150,
  19694,
  30860,
  30065,
  18036,
  64972,
  60344,
  18628,
  27529,
  36240,
  28638,
  10361,
  26254,
  4031,
  27639,
  22944,
  7451,
  9498,
  8126,
  22646,
  12086,
  6510,
  9014,
  5086,
  4506,
  8640,
  13680,
  14812,
  8380,
  5223,
  9107,
  8038,
  8582,
  872,
  621,
  702,
  1333,
  436,
  471,
  936,
  902,
  149,
  310],
 'recovered': [186824,
  89112,
  33290,
  136419,
  81685,
  115839,
  15254,
  19185,
  94347,
  73721,
  55318,
  46334,
  52841,
  5230,
  9330,
  45194,
  36996,
  20956,
  25783,
  38914,
  16885,
  37199,
  13664,
  12571,
  28670,
  25932,
  26726,
  6270,
  17728,
  22106,
  18908,
  16025,
  15815,
  11304,
  5344,
  1691,
  6363,
  7139,
  3094,
  3262,
  1756,
  6543,
  5056,
  3653,
  2883,
  3008,
  1412,
  875,
  620,
  1096,
  911]}

In [74]:
covid_data["states"][50]

'Hawaii'

In [72]:
range(len(covid_data["states"]))

range(0, 51)